@charset "ISO-8859-1";
.body{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-family: monospace;
    font-size: 15px;
}
.boton1{
    width: 250px;
    height: 50px;
    border-radius: 25px;
}
.anuncion{
	color: red;
	font-size: 35px;
}